@import url('../../.local/share/hyprconfig/activewaybar.css');

@define-color foreground #e8e8d3;
@define-color background #151515;

* {
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Hack Nerd Font;
  font-size: 18px;
}

#waybar {
  background-color: transparent;
}

.modules-left {
  padding: 0 8px;
  border-radius: 10px;
  background-color: @background;
  margin-left: 8px;
}

.modules-center {
  padding: 0 8px;
  border-radius: 10px;
  background-color: @background;
}

.modules-right {
  padding: 0 8px;
  border-radius: 10px;
  background-color: @background;
  margin-right: 8px;
}

.modules-right > * > * {
  padding: 0 5px;
}

#workspaces button:hover {
  border-bottom: 3px solid @primary-color;
}

#workspaces button {
  all: initial;
  padding: 0 9px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
  font-weight: 900;
  border-bottom: 3px solid @primary-color;
}

#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock {
  min-width: 12px;
  margin: 0 7.5px;
}

#cpu:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#clock:hover {
    border-bottom: 3px solid @primary-color;
}

tooltip {
  background-color: @background;
}
